.containercarrito{
    margin-top: 70px;
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 10px;
    font-family: 'Helvetica';
  }
  body {
    font-family: 'Helvetica';
  }
  .h1Class,
  .h2Class,
  .h3class {
    margin: 0.5rem 0;
  }
  .h1Class {
    font-size: 1.5rem;
  }
  .hClass {
    font-size: 1.2rem;
  }
  .h3Class {
    font-size: 1rem;
  }
  .aClass {
    text-decoration: none;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .row.center {
    align-items: center;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .text-right {
    text-align: right;
  }
  img.small {
    max-height: 8rem;
  }

  .buttonCar {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #404040 solid;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
  }
  .buttonCaradd {
    background-color: #40c0f0;
    width: 1.5rem;
  }
  .buttonCarremove {
    background-color: #f04040;
    width: 1.5rem;
  }
  .buttonCar.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
  }