.inputDatos {
    border: none;
    border-bottom: 1px solid gray;
    height: 100px;
    width: 800px;
    margin-bottom: 10px;
}

.inputPersonal{
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 30px;
    padding-bottom: 10px;
}